.container-fluid {
    padding: 0;
}

/* Navbar */

.navbar {
    margin-bottom: 20px;
}

.navbar-nav {
    font-size: 21px;
    font-size: 21px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #842029;
}

.navbar-nav .nav-link:hover{
    color: #ce8a90!important;
}

.navbar-brand {
    font-weight: 700;
    color: #ce8a90!important;
    margin-left: 5%;
    font-size: 35px;
}

/* content */

.content {
    min-height: 70vh;
}

/* Botão de adicionar */

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
    text-align: center;
}

.fas.fa-plus {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

.fas.fa-search {
    position: absolute;
    top: 179px;
    right: 14.5%;
}

.search-div {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* lista de tarefas */

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.fas.fa-trash, .fas.fa-edit{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #db1e47;
}

.fas.fa-edit {
    color: #13c43f;
}

/* footer */

footer {
    height: 192px;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 35px;
    color: #ce8a90;
}